body{
	width: 100%;
	margin: 0 auto;
  }

.App {
  display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 1em;
}

.header {
	grid-column: auto / span 12;
}

.main {
	grid-column: auto / span 12;
}

.footer{
	grid-column: auto / span 12;
}

/* Mobile layout */
@media (max-width: 768px) {
	.App {
	  grid-template-columns: 1fr;
	  column-gap: 0;
	}
  
	.header,
	.main,
	.footer {
	  grid-column: auto / span 1;
	}
  
	.header,
	.footer {
	  padding: 1em;
	}
  
	.main {
	  padding: 1em;
	}
  }